{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h3>
    {{ teacher.username }}
    <small class="text-muted">
      {{ teacher.first_name }} {{ teacher.last_name }}
    </small>
  </h3>
  <blockquote class="blockquote">
    <p class="mb-0">{{ teacher.notes }}</p>
  </blockquote>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url "journal:teachers-update" pk=teacher.id %}">
      <input class="btn btn-success" type="button" value="Edit">
    </a>
  </form>
{% endblock %}