{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="ml-3">
    <h1>{{ subject.title }}</h1>
    <div class="container-fluid">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        {% for student in subject.students.all %}
          <tr>
            <th scope="row">
              <a href="{{ student.get_absolute_url }}">
                {{ student.id }}
              </a>
            </th>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url "journal:subjects-update" pk=subject.id %}">
          <input class="btn btn-success" type="button" value="Edit">
        </a>
      </form>
    </div>
  </div>


{% endblock %}