{% load static %}

<footer class="footer pt-6 pb-5 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="navbar-brand-dark mb-4" height="35" src="{% static 'assets/img/brand/light.svg' %}"
             alt="Logo light">
        <p>
          Students Journal project is a comprehensive platform designed to enhance student learning and engagement.
          It provides resources, tools, and insights to support academic growth and personal development.
          Created as a part of a portfolio project, it showcases innovative solutions in education technology.
        </p>
        <ul class="social-buttons mb-5 mb-lg-0">
          <li>
            <a href="https://www.linkedin.com/in/volodymyrstruhanets-3b9792157/"
               aria-label="linkedin social link"
               class="icon-white me-2">
              <span class="fab fa-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=struhanets" class="icon-white me-2"
               aria-label="facebook social link">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/struhanets" aria-label="github social link" class="icon-white me-2">
              <span class="fab fa-github"></span>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <hr class="bg-secondary my-3 my-lg-5">
    <div class="row">
      <div class="col mb-md-0">
        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
          <p class="fw-normal font-small mb-0">
            &copy; Struhanets - BackEnd Coded by Python.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
