<ul class="toggle-nav-sidebar list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <a class="nav-link" href="{% url "journal:teachers-detail" pk=user.id %}">
        User: {{ user.get_username }}
      </a>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">
        Logout
      </a>
    </li>
  {% else %}
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">
        Login
      </a>
    </li>
  {% endif %}
  <br>
  <li class="list-group-item">
    <a class="nav-link" href= {% url "journal:index" %}>Home</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url "journal:students-list" %}">All students</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url "journal:teachers-list" %}">All teachers</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url "journal:subjects-list" %}">All subjects</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url "journal:groups-list" %}">All Groups</a>
  </li>
</ul>