{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{ group.title }}</h1>
  <div class="container-fluid">
    <h3>
      Leader of group:
      <small class="text-muted">{{ group.leader }}</small>
    </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Birthdate</th>
        </tr>
      </thead>
      <tbody>
      {% for student in group.students.all %}
        <tr>
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.birth_date }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="{% url "journal:groups-update" pk=group.id %}">
        <input class="btn btn-success" type="button" value="Edit">
      </a>
    </form>
    <br>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="{% url "journal:groups-delete" pk=group.id %}">
        <input class="btn btn-danger" type="button" value="Delete">
      </a>
    </form>
  </div>
{% endblock %}